.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        margin-top: 69px;
        list-style-type: none;
        width: 223px;
        height: 52px;
        font-weight: 300;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        border: 2px solid #D0D0D0;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border:     none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background: rgba(199, 1, 1, 1);
            border: none;
        }
    }   
    &__content {
        margin-top: 60px;
    }
    &-item {
        display: block;
        width: 300px;
        min-height: 440px;
        overflow: hidden;
        background: #FFFFFF;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 26px 20px;
        &__img {
            display: block;
            height: 200px;
            max-width: 100%;
            margin: 0 auto;
            
        }
        &__subtitle {
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 15px;
            color: #0D0D0D;
        }
        &__descr {
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            display: block;
            margin-top: 17px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-decoration-line: underline;
            color: $main-color;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            width: 263px;
            background: #E8E8E8;
            height: 4px;
            margin-top: 19px;
            margin-bottom: 21px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;
            text-align: left;
            text-decoration-line: line-through;
            сolor: #555555;     
        }
        &__price {
            font-family: 'MuseoModerno';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            align-items: flex-end;
            color: #050505;
        }
    }
}