.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__tab {
        margin-top: 69px;
        list-style-type: none;
        width: 223px;
        height: 52px;
        font-weight: 300;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        border: 2px solid #D0D0D0;
        transform: skewX(-25deg);
        margin: 0 5px;
        div {
            transform: skewX(25deg);
        }
    } 
   
}