.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        margin-top: 69px;
        list-style-type: none;
        width: 223px;
        height: 52px;
        font-weight: 300;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        border: 2px solid #D0D0D0;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border:     none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background: rgba(199, 1, 1, 1);
            border: none;
        }
    }   
    &__content {
        margin-top: 60px;
        
    }
}