.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(/src/img/bg.png) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header, h1 {
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
        text-align: right;
        color:#FFFFFF;
        text-align: right;
        text-transform: uppercase;
    }
    &__subheader, h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-align: right;
        color:#FFFFFF;
        margin-top: 17px;
        text-align: right;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        text-align: right;
        color:#FFFFFF;
        margin-top: 10px;
        a {
            width: 223px;
            height: 25px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            align-items: flex-end;
            text-align: right;
            color:#FFFFFF;
        }
    }
}
